.loading {
  text-align: center;
  font-size: 2rem;
}
.mqtt-title {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  text-align: left;
  border-bottom: 1px solid white;
  line-height: 3rem;
}

.mqtt-title .icon {
  color: lightcoral;
  padding-right: 5px;
}

.mqtt-title .charge-icon {
  color: lightgreen;
  float: right;
}

.mattributes {
  list-style: none;
  margin: 0;
  list-style-position: inside;
  padding: 0;
}

.mattributes .mattribute {
  text-align: left;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
  opacity: 0.75;
}
.mattributes .mattribute.battery-level.battery-level-ok .value {
  color: lightgreen;
}

.mattributes .mattribute.battery-level.battery-level-warning .value {
  color: orange;
}

.mattributes .mattribute.battery-level.battery-level-danger .value {
  color: lightcoral;
}

.mattributes .mattribute.sentry-mode.sentry-mode-active .value {
  color: lightcoral;
}

.mattributes .mattribute .name:after {
  content: ': ';
  padding-right: 50px;
}

.mattributes .mattribute .value {
  float: right;
}
